<h1>Articles listed</h1>

<table>
  <thead>
   <tr>
     <th>Title</th>
     <th>Discription</th>
     <th>Action</th>
   </tr>
  </thead>

  <tbody>
   <% @articles.each do |article| %>
     <tr>
       <td><%= article.title %><td>
       <td><%= article.discription %><td>
       <td>Placeholder<td>
     </tr>
   <% end %>
  </tbody>
</table>