<div style = "font-size: 15px;color: black;">User Name </div>
<input type = "text" placeholder = "Enter username"><br>
<div style = "font-size: 15px;color:black;" >Password </div>
<input type = "text" placeholder = "Enter Password"><br>
<input type="button" value="Login">