<p style = "font-size: 30px; color: green; font-weight: bold;">Hello You are on Home page !!<p>
<h1>Ruby On Rails !!</h1>

<%= link_to 'Articles Listing', articles_path %>
<%= link_to 'About Page', about_path %>