<h1>Update Your Password</h1>

<%= form_tag reset_password_passwords_path, class: "shadow p-3 mb-3 bg-danger rounded", method: :get do %>
  <div>
    <%= label_tag 'password', 'New Password:', class: "col-2 col-form-label mt-4 text-light" %>
    <%= password_field_tag 'password', nil, class: "form-control shadow rounded" %>
  </div>
    
  <div class="from-group row mt-4 justify-content-center">
      <%= submit_tag "Update Password", class: "btn btn-outline-light btn-lg" %>
  </div>

<% end %>