<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Shivam Mahajan", "https://www.linkedin.com/in/shivam-mahajan-692453262/", class: "text-white" %></small>
    </div>
</footer>